# Assignment 9.1

> Replace all TODOs with your code. Do not change any other code.

In [ ]:
# Do not edit this cell

import numpy as np
import pandas as pd

## Numpy

### Task 1

Create a 1D numpy array with elements [1, 2, 3, 4, 5]. Do it in two different ways.

In [ ]:
res = # TODO

print(res)

In [ ]:
res2 = # TODO

print(res2)

### Task 2

Create a 2D numpy array with shape (3, 5) filled with random integers between 1 and 100.

In [ ]:
res3 = # TODO

print(res3)

### Task 3

Print the first row of array `res3`.

In [ ]:
print(TODO)

### Task 4

Access the last column of array `res3`. Assume that the array may be of any 2D shape.

In [ ]:
print(TODO)

### Task 5

Find the min, max, and sum of elements of the second column of array `res3`.

In [ ]:
# Min
res_min = # TODO

print('min =', res_min)

In [ ]:
# Max
res_max = # TODO

print('max =', res_max)

In [ ]:
# Sum
res_sum = # TODO

print('sum =', res_sum)

### Task 6

Tabulate the function

$$f(x) = e^{2x}$$

on interval `[0, 1]` with step 0.1.

By "tabulate" we mean that we want to have a table (1D array), where on the first position we will have the function value for 0, on the second position 0.1, and so on.

In [ ]:
x = # TODO
f_x = # TODO

print(f_x)

## Pandas

We will be working on the classic dataset for beginner data scientists: Titanic passengers.

### Task 7

Load the dataset from the following URL: https://web.stanford.edu/class/cs102/datasets/Titanic.csv

In [ ]:
df = # TODO

### Task 8

Let's see the series/columns present in the data frame.

Also, let's inspect the first ten rows of data.

In [ ]:
# TODO

In [ ]:
# TODO

### Task 9

Add a new column - full name - it should be a concat of the first and last name.

In [ ]:
# TODO

### Task 10

Remove the two original columns - last, first.

In [ ]:
# TODO

### Task 11

Calculate the total number of survivors in the dataset.

In [ ]:
# TODO